- content_for :breadcrumbs do
  %nav{"aria-label" => t("breadcrumbs.you_are_here"), :role => "navigation"}
    %ul.breadcrumbs
      %li
        %a{:href => root_path} Welcome
      %li
        %span.show-for-sr t("current")
        My profile
.grid-x
  .cell.medium-6
    %h1.mb0 My profile
  .cell.medium-6.cta_bottom
    = link_to "Edit profile", edit_profile_path, class: "cta cta_right "
%hr/
.grid-x.grid-margin-x
  .cell.small-12.medium-8
    %h2 Details
    %p
      %strong Name :
      = current_user.full_name
    %p
      %strong Email :
      = current_user.email
    %p
      %strong Phone number :
      = current_user.phone_number
    %p
      %strong Role :
      = @role.name.capitalize

    %p
      %strong= t('activerecord.attributes.user_setting.loans_crud') + ': '
      = t('dropdown_list.yes_no_list.' + (current_user.user_setting.allows_loans_crud_mail? ? 'yes' : 'no'))

    %p
      %strong= t('activerecord.attributes.user_setting.loans_validation') + ': '
      = t('dropdown_list.yes_no_list.' + (current_user.user_setting.allows_loans_validation_mail? ? 'yes' : 'no'))

    %p
      %strong= t('activerecord.attributes.user_setting.provisions_crud') + ': '
      = t('dropdown_list.yes_no_list.' + (current_user.user_setting.allows_provisions_crud_mail? ? 'yes' : 'no'))

    %p
      %strong= t('activerecord.attributes.user_setting.provisions_validation') + ': '
      = t('dropdown_list.yes_no_list.' + (current_user.user_setting.allows_provisions_validation_mail? ? 'yes' : 'no'))

    %p
      %strong= t('activerecord.attributes.user_setting.repayments_crud') + ': '
      = t('dropdown_list.yes_no_list.' + (current_user.user_setting.allows_repayments_crud_mail? ? 'yes' : 'no'))

    %p
      %strong= t('activerecord.attributes.user_setting.repayments_validation') + ': '
      = t('dropdown_list.yes_no_list.' + (current_user.user_setting.allows_repayments_validation_mail? ? 'yes' : 'no'))

    %p
      %strong= t('activerecord.attributes.user.assigned_funds')

      - @funds.each do |fund|
        %li= link_to fund.name, fund_path(fund.id)

        %ul.ml0
          %li
            .grid-x
              .cell
                %strong= t('activerecord.attributes.user.assigned_im_groups')

                - @im_groups.each do |im_group|
                  - next if im_group.fund_id != fund.id
                  = im_group.name
