= render partial: "settings/shared/breadcrumb", locals: {intermediate_topics: {}, current_topic: t('activerecord.models.interest_rate_type.other')}
= render partial: "settings/interest_rate_types/shared/header"

%hr
  .grid-x.grid-padding-x
    
    = render partial: "settings/interest_rate_types/shared/index"
    .cell.small-12.medium-4
      %h2= t("general.create")
      = simple_form_for new_setting, url: fund_settings_interest_rate_types_path do |f|
        = render 'shared/form_error_messages', object: f.object
        = render partial: "settings/interest_rate_types/shared/form", locals: {f: f}