= render partial: "settings/shared/breadcrumb", locals: {intermediate_topics: {"Loan Types" => fund_settings_loan_types_path}, current_topic: setting.name}
= render partial: "settings/loan_types/shared/header"

%hr
  .grid-x.grid-padding-x

    = render partial: "settings/loan_types/shared/index"
    .cell.small-12.medium-8
      %h2= setting.name
      %ul.ml0
        %li
          %strong Name :
          = setting.name
        %li
          %strong Description :
          = setting.description

      .grid-x
        .cell.small-6.medium-4.large-2
          = link_to t("general.delete"), "#", class: "cta cta_warning", id: "delete-setting"
        .cell.small-6.medium-4.large-2
          = link_to t("general.edit"), edit_fund_settings_loan_type_path(id: setting.id), class: "cta ml5 mb5"

= render partial: "settings/shared/delete", locals: {setting: setting, setting_name: resource_name}
