.grid-x
  .cell.small-12.medium-12.large-12
    .cell.small-12.medium-6.large-6
      %h2= t("settings.esg_risk.new.esg_risk_title")
    .cell.small-12.medium-6.large-6
      .grid-x
        .cell.small-12.medium-6.large-6
          %strong= t("settings.esg_risk.shared.form.as_of")
        .cell.auto.field_value
          = institution.institution_esg_risks_as_of.try(:strftime, "%d-%m-%Y")
    .cell.small-12.medium-6.large-6
      .grid-x
        .cell.small-12.medium-6.large-6
          %strong= t("settings.esg_risk.shared.form.tool_use_for_esg_score")
        .cell.auto.field_value
          =institution.tool_use_for_esg_score
    .cell.small-12.medium-6.large-6
      .grid-x
        .cell.small-12.medium-6.large-6
          %strong= t("settings.esg_risk.shared.form.internal_esg_score")
        .cell.auto.field_value
          =institution.internal_esg_score
    .cell.small-12.medium-6.large-6
      .grid-x
        .cell.small-12.medium-6.large-6
          %strong= t("settings.esg_risk.shared.form.ifc_esg_risk_financial_intermediaries_classification")
        .cell.auto.field_value
          = institution.ifc_esg_risk_financial_intermediaries_classification
    .cell.small-12.medium-6.large-6
      .grid-x
        .cell.small-12.medium-6.large-6
          %strong= t("settings.esg_risk.shared.form.esms_in_place_commensurate_with_risk_profile")
        .cell.auto.field_value
          = InstitutionEsgRisk.esms_risk_profile_map[institution.esms_in_place_commensurate_with_risk_profile]
