= render partial: "settings/shared/breadcrumb", locals: {intermediate_topics: {}, current_topic: "Institution Types"}
= render partial: "settings/institution_types/shared/header"

%hr
  .grid-x.grid-padding-x
    = render partial: "settings/institution_types/shared/index"
    .cell.small-12.medium-4
      %h2= t("settings.country_groups.edit.edit")
      = simple_form_for setting, url: fund_settings_institution_type_path(id: setting.id) do |f|
        = render 'shared/form_error_messages', object: f.object
        = render partial: "settings/institution_types/shared/form", locals: {f: f}
