.grid-x.grid-margin-x
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    %h4= t('Institution Profile')

  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.im_group')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    - if @institution.editable_im_group?
      = f.association :im_group, label: false
    - else
      = @institution.im_group.name
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.country')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.association :country, label: false
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.institution_group')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.association :institution_group, label: false
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.institution_type')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.association :institution_type, label: false
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.tier')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.input :tier, label: false, collection: InstitutionProfile.tier_options, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t("settings.institutions.shared.form.tooltip_tier") }
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.regulatory_status')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.input :regulatory_status, label: false, collection: Institution::REGULATORYSTATUS, html: { class: 'edit' }
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.cpps_adoption')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.input :cpps_adoption, label: false, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t("settings.institutions.shared.form.tooltip_cpps_adoption") }, collection: InstitutionProfile.cpps_adoption_options
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.profile.shared.form.use_of_standard_reporting_tools')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.input :use_of_standard_reporting_tools, label: false, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t("settings.institutions.shared.form.tooltip_use_of_standard_reporting_tools") }, as: :select, collection: InstitutionProfile.use_of_standard_reporting_tools_options
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    %span= t('settings.institutions.shared.form.in_watchlist')
  .cell.small-6.medium-6.large-6.grid-x.align-middle
    = f.input :in_watchlist, label: false, collection: Institution.dropdown_yes_no_options, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t(".tooltip_in_watchlist") }
  .cell.small-6.medium-6.large-6.grid-x.align-middle.in_watchlist_reason_form
    %span= t('settings.institutions.shared.form.watchlist_reason')
  .cell.small-6.medium-6.large-6.grid-x.align-middle.in_watchlist_reason_form
    = f.input :watchlist_reason, label: false, input_html: { "data-tooltip" => true, :class => "has-tip" }
  &nbsp;
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.auto.cta_center
      = f.submit t('settings.shared.submit'), class: "cta"
%hr