.grid-x.grid-margin-x
  .cell.small-12
    = simple_form_for :critical_case_filter, url: fund_critical_case_dashboard_path   do |f|
      .grid-x.grid-margin-x
        .cell.small-3
          - if params.has_key?(:critical_case_filter)
            = f.check_box :watchlist, checked: params["critical_case_filter"]["watchlist"] == "1"
          - else
            = f.check_box :watchlist, checked: true
          = f.label "Watchlist", required: false
        .cell.small-3
          - if params.has_key?(:critical_case_filter)
            = f.check_box :restructuring, checked: params["critical_case_filter"]["restructuring"] == "1"
          - else
            = f.check_box :restructuring, checked: true
          = f.label "Restructuring", required: false
        .cell.small-3
          - if params.has_key?(:critical_case_filter)
            = f.check_box :provision, checked: params["critical_case_filter"]["provision"] == "1"
          - else
            = f.check_box :provision, checked: true
          = f.label "Provision", required: false
        .cell.small-3
          = f.submit t(".apply_filters")

%table{class: "stack unstriped scroll "}
  %thead
    %tr
      %th #{t(".institution")} :
      %th #{t(".loan")} :
      %th #{t(".type_of_critical_case")} :
      %th #{t(".country")} :
      %th #{t(".region")} :
      %th #{t(".im_group")} :
      %th #{t(".active_nominals")} :
      %th #{t(".gross_exposure")} :
      %th #{t(".net_exposure")} :
      %th #{t(".date_of_entry")} :
    - filtered_list.each do |institution, loans|
      %tbody
        %tr.institution_row
          %td= link_to institution.name, fund_settings_institution_path(id: institution.id)
          %td= loans.select{|loan| loan["institution_id"] == institution.id}.length
          %td= institution.critical_case_types
          %td= institution.country.name
          %td= institution.country_group_name
          %td= institution.im_group.name
          %td= number_to_currency(institution.active_nominals_summary, unit: "$", format: "%n %u")
          %td= number_to_currency(institution.loans_provision_summary[:gross_exposure], unit: "$", format: "%n %u")
          %td= number_to_currency(institution.loans_provision_summary[:net_amount], unit: "$", format: "%n %u")
          %td= loans.map{ |loan| loan.date_of_entry}.compact.min
        - loans.each do |loan|
          %tr.hidden-row.critical_case_loan_line
            %td
            %td= link_to (institution.name + " - " + loan.innpact_loan_id.to_s), fund_loan_path(id: loan.id)
            %td= loan.critical_case_types
            %td= loan.country_name
            %td= loan.country_group_name
            %td= loan.im_group_name
            %td= number_to_currency(loan.executed_nominal_amount_usd, unit: "$", format: "%n %u")
            %td= loan.formatted_gross_position_value_usd
            %td= loan.formatted_net_position_value_usd
            %td= loan.date_of_entry
