%table{class: "stack unstriped scroll "}
  %thead
    %tr
      %td #{t(".institution")} :
      %td #{t(".loan")} :
      %td #{t(".country")} :
      %td #{t(".region")} :
      %td #{t(".im_group")} :
      %td #{t(".restructuring_type")} :
      %td #{t(".restructuring_reason")} :
      %td #{t(".active_loan")} :
      %td #{t(".loan_nominal")} :
      %td #{t(".GPV")} :
      %td #{t(".NPV")} :
      %td #{t(".number_of_payment_dates_modified")} :
      %td #{t(".total_amount_modified")} :
      %td #{t(".next_upcoming_payment_date")} :
      %td #{t(".next_upcoming_payment_value")} :

    - restructuring_list.each do |institution, loans|
      %tbody
        %tr{:class => "institution_row"}
          %td= link_to institution.name, fund_settings_institution_path(id: institution.id)
          %td= loans.length
          %td= institution.country.name
          %td= institution.country_group_name
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
        - loans.each do |loan|
          %tr{class: "hidden-row"}
            %td
            %td= link_to (institution.name + " - " + loan.innpact_loan_id.to_s), fund_loan_path(id: loan.id)
            %td
            %td
            %td= loan.im_group_name
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr{class: "hidden-row"}
            %td
            %td
            %td{:colspan => 9}
              %table{class: "stack unstriped scroll"}
                %thead
                  %tr
                    %td #{t(".original_date")} :
                    %td #{t(".original_repay_amount")} :
                    %td #{t(".new_date")} :
                    %td #{t(".new_repay_amount")} :
                    %td #{t(".modification_date")} :
                    %td #{t(".status")} :
                    %tbody
                      %tr{:class => ["loan_row"]}
                        %td
                        %td
                        %td
                        %td
                        %td
                        %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td

