.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
  .cell.small-4.medium-4.large-2
    %h2.text-center Actual [%]
  .cell.small-4.medium-4.large-2
    %h2.text-center Limit [%]
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t('.par30')
  .cell.small-4.medium-4.large-2

    = f.input :par30, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_par30") }
  .cell.small-4.medium-4.large-2

    = f.input :par30_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_par30_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span=t('.par30_refy')
  .cell.small-4.medium-4.large-2

    = f.input :par30_refy, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_par30_refy") }
  .cell.small-4.medium-4.large-2

    = f.input :par30_refy_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_par30_refy_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".roa")
  .cell.small-4.medium-4.large-2

    = f.input :roa, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_roa") }
  .cell.small-4.medium-4.large-2

    = f.input :roa_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_roa_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".adj_roa")
  .cell.small-4.medium-4.large-2

    = f.input :adj_roa, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_adj_roa") }
  .cell.small-4.medium-4.large-2

    = f.input :adj_roa_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_adj_roa_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".open_fx_exposure")
  .cell.small-4.medium-4.large-2

    = f.input :open_fx_exposure, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_open_fx_exposure") }
  .cell.small-4.medium-4.large-2

    = f.input :open_fx_exposure_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_open_fx_exposure_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".open_loan_position")
  .cell.small-4.medium-4.large-2

    = f.input :open_loan_position, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_open_loan_position") }
  .cell.small-4.medium-4.large-2

    = f.input :open_loan_position_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_open_loan_position_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".car")
  .cell.small-4.medium-4.large-2

    = f.input :car, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_car") }
  .cell.small-4.medium-4.large-2

    = f.input :car_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_car_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".deposits_liabilities")
  .cell.small-4.medium-4.large-2

    = f.input :deposits_liabilities, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_deposits_liabilities") }
  .cell.small-4.medium-4.large-2

    = f.input :deposits_liabilities_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_deposits_liabilities_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".maturity_matching_if_applicable")
  .cell.small-4.medium-4.large-2

    = f.input :maturity_matching_if_applicable, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_maturity_matching_if_applicable") }
  .cell.small-4.medium-4.large-2

    = f.input :maturity_matching_if_applicable_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_maturity_matching_if_applicable_limit") }
.grid-x.grid-margin-x
  .cell.small-4.medium-1.large-4.grid-x.align-middle
    %span= t(".liquid_assets_deposits_if_applicable")
  .cell.small-4.medium-4.large-2

    = f.input :liquid_assets_deposits_if_applicable, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_liquid_assets_deposits_if_applicable") }
  .cell.small-4.medium-4.large-2

    = f.input :liquid_assets_deposits_if_applicable_limit, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip thousand_currencies_formats", :title => t(".tooltip_liquid_assets_deposits_if_applicable_limit") }
.grid-x
  .cell.auto
  .cell.auto.cta_center
    = f.input :fund_id, as: :hidden
    = f.submit t('settings.shared.submit'), class: "cta"
  .cell.auto

= javascript_pack_tag 'cleave_form_format'
