= render partial: "settings/shared/breadcrumb", locals: {intermediate_topics: {}, current_topic: "Limits"}
= render partial: "settings/limits/shared/header"
%hr
  .grid-x.grid-padding-x
    
    = render partial: "settings/limits/shared/index"
    .cell.small-12.medium-8
      %h2= t('.create_default')
      = simple_form_for new_setting, url: fund_settings_default_limits_path do |f|
        = render partial: "settings/default_limits/shared/form", locals: {f: f}
