%p= t("mailers.shared.dear_team")
%p= t("mailers.loan_update.intro")

%table.loan_update_table
  %tr
    %th= t("mailers.loan_update.noval")
    %th= t("mailers.loan_update_with_validation_link.im")
    %th= t("mailers.loan_update.mfi_name")
    %th= t("mailers.loan_update.previous_status")
    %th= t("mailers.loan_update.current_status")
  %tr
    %td= link_to @noval, fund_loan_url(fund_id: @loan.fund.id, id: @loan.id), target: "_blank"
    %td= @creation_user_name
    %td= @mfi_name
    %td= @last_loan_version_status
    %td= @loan_version_status

%p
  = t("mailers.loan_update_with_validation_link.to_accept_change")
  = link_to t("mailers.loan_update_with_validation_link.this_link"), fund_loan_version_validation_url(fund_id: @loan.fund.id, loan_id: @loan.id, version_id: @loan_version_id, validated: true), target: "_blank"
%p
  = t("mailers.loan_update_with_validation_link.to_reject_change")
  = link_to t("mailers.loan_update_with_validation_link.this_link"), fund_loan_version_validation_url(fund_id: @loan.fund.id, loan_id: @loan.id, version_id: @loan_version_id, validated: false), target: "_blank"

%p= t("mailers.loan_update_with_validation_link.question_comment")