= render partial: "settings/shared/user_breadcrumb", locals: {intermediate_topics: {}, current_topic: "User management"}
= render partial: "settings/users/shared/header"

.grid-x.grid-margin-x
  .cell.small-12.medium-4.section_3
    = render partial: "settings/users/shared/index"
  .cell.small-12.medium-8
    .cell.small-12.medium-6
      %h1.mt0 Edit user
      = simple_form_for user, url: settings_user_path(id: user.id) do |f|
        = render partial: "settings/users/shared/form", locals: {f: f}
= render partial: "settings/users/shared/delete_modal", locals: {user: user}
