= simple_form_for @fund, url: url do |f|
  .grid-x.grid-margin-x
    .cell.small-12.medium-4.large-4
      = f.label :readers, 'Readers'
      .grid-x.grid-margin-x.reader_list_item
        .cell.small-8.medium-8.large-10
          = select_tag "readers", options_from_collection_for_select(available_readers, :id, :full_name)
        .cell.small-4.medium-4.large-2.ml5
          %a.reader_buttons{id: "add_readers"}
            +
        .cell.small-12.medium-12.large-12.mt20
          = f.submit "Save", class: "cta ml5", id: "save-reader-form"
    .cell.small-12.medium-4.large-4.section_4.pl20.reader_group_list
      = f.label :funds_readers, 'Selected Readers', class: "mb10"
      %ul.mb10.ml0.mb0{id: 'reader_list'}
        =hidden_field_tag 'reader[user_ids][]'
        - assigned_readers.each do |reader|
          .grid-x.reader_list_item{"data-user-id" => 'user_'+reader.id.to_s}
            .cell.large-10
              %li{"data-id" => reader.id}
                =hidden_field_tag 'reader[user_ids][]', reader.id
                =reader.full_name
            .cell.large-2
              %a{class: "reader_buttons remove_reader", "delete-data-id" => reader.id, "data-name" => reader.full_name, id: "remove_reader"}
                &#8722

=javascript_pack_tag "funds_users"
