.grid-x.grid-margin-x.institution_subentity
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    %h4= t('settings.esg_risk.shared.header.esg_risk_main_title')
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      %span= t('settings.esg_risk.shared.form.as_of')
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      = f.input :as_of, label: false, as: 'date_picker'
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      %span= t('settings.esg_risk.shared.form.tool_use_for_esg_score')
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      = f.input :tool_use_for_esg_score, label: false, as: :string
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      %span= t('settings.esg_risk.shared.form.internal_esg_score')
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      = f.input :internal_esg_score, label: false, as: :string, value: true, checked: false, input_html: { maxlength: 10 }
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      %span= t('settings.esg_risk.shared.form.ifc_esg_risk_financial_intermediaries_classification')
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      = f.select :ifc_esg_risk_financial_intermediaries_classification, %w[FI-1 FI-2 FI-3], include_blank: true, input_html: { class: 'select' }
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      %span= t('settings.esg_risk.shared.form.esms_in_place_commensurate_with_risk_profile')
    .cell.small-6.medium-6.large-6.grid-x.align-middle
      = f.input :esms_in_place_commensurate_with_risk_profile, label: false, as: :select
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    &nbsp;
  .cell.small-12.medium-12.large-12.grid-x.align-middle
    .cell.auto.cta_center
      = f.submit t('settings.shared.submit'), class: "cta"
%hr