= simple_form_for dashboard.loan_search, url: search_path do |f|
  = f.input :page, as: :hidden, html: {value: dashboard.page || 1}
  = f.input :loan_category, as: :hidden, html: {value: dashboard.loan_category}
  
  .grid-x.grid-margin-x
    .cell.small-9.medium-9.large-9
      %h3= t(".filters")
    .cell.small-3.medium-3.large-3
      = f.submit t(".apply_filters")

  .grid-x.grid-margin-x
    .cell.small-6.medium-4.large-3
      = f.input :im_group_id, collection: dashboard.im_groups
    .cell.small-6.medium-4.large-3
      = f.input :institution_id, collection: dashboard.institutions, input_html: { class: "institutions_list" }
    .cell.small-6.medium-4.large-3
      = f.input :country_id, collection: dashboard.countries, input_html: { class: "countries_list" }
    .cell.small-6.medium-4.large-3
      = f.input :status, collection: dashboard.statuses
  
  %label &nbsp;    
    
  %ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true"}
    %li.accordion-item{"data-accordion-item" => ""}
      %a.accordion-title{:href => "#"}
        = t(".advanced_filters")
      .accordion-content{"data-tab-content" => ""}
        .grid-x.grid-margin-x
          .cell.small-6.medium-4.large-4
            = f.input :pool_id, collection: dashboard.pools
          .cell.small-6.medium-4.large-4
            %label= t(".innpact_loan_id").capitalize
            = f.input :innpact_loan_id, label: false
          .cell.small-6.medium-4.large-4
            = f.input :institution_group_id, collection: dashboard.institution_groups
          .cell.small-6.medium-4.large-4
            = f.input :country_group_id, collection: dashboard.country_groups
          .cell.small-6.medium-4.large-4
            = f.input :currency_id, collection: dashboard.currencies
          .cell.small-6.medium-4.large-4
            = f.input :loan_type_id, collection: dashboard.loan_types

          .cell.small-12
            .grid-x.grid-margin-x
              - [:proposed_nominal_amount, :proposed_tenor, :proposed_spread,
                :proposed_upfront_fees, :proposed_fixed_rate].each do |att|
                .cell.small-12.medium-6.large-4
                  %label= t(".#{att}")
                  = f.simple_fields_for att do |ff|
                    .grid-x.grid-margin-x
                      .cell.small-6
                        = ff.input :begin, placeholder: "min", label: false, input_html: {value:  f.object.send(att).try(:[], "begin")}
                      .cell.small-6
                        = ff.input :end, placeholder: "max", label: false, input_html: {value:  f.object.send(att).try(:[], "end")}

            .grid-x.grid-margin-x
              - [:ratified_nominal_amount,
                :ratified_tenor, :ratified_spread, :ratified_upfront_fees, :ratified_fixed_rate].each do |att|
                .cell.small-12.medium-6.large-4
                  %label= t(".#{att}")
                  = f.simple_fields_for att do |ff|
                    .grid-x.grid-margin-x
                      .cell.small-6
                        = ff.input :begin, placeholder: "min", label: false, input_html: {value:  f.object.send(att).try(:[], "begin")}
                      .cell.small-6
                        = ff.input :end, placeholder: "max", label: false, input_html: {value:  f.object.send(att).try(:[], "end")}

            .grid-x.grid-margin-x
              - [:approved_nominal_amount,
                :approved_tenor, :approved_spread, :approved_upfront_fees, :approved_fixed_rate].each do |att|
                .cell.small-12.medium-6.large-4
                  %label= t(".#{att}")
                  = f.simple_fields_for att do |ff|
                    .grid-x.grid-margin-x
                      .cell.small-6
                        = ff.input :begin, placeholder: "min", label: false, input_html: {value:  f.object.send(att).try(:[], "begin")}
                      .cell.small-6
                        = ff.input :end, placeholder: "max", label: false, input_html: {value:  f.object.send(att).try(:[], "end")}

          - [:assignment_date, :deadline_assignment_date, :ratification_date, :deadline_ratification_date,
            :approval_date, :deadline_approval_date, :expected_disbursement_date].each do |att|
            .cell.small-12.medium-6.large-3
              %label= t(".#{att}")
              = f.simple_fields_for att do |ff|
                .grid-x.grid-margin-x
                  .cell.small-6
                    = ff.input :begin, as: 'date_picker', label: "from", input_html: {value:  f.object.send(att).try(:[], "begin")}
                  .cell.small-6
                    = ff.input :end, as: 'date_picker', label: "to", input_html: {value:  f.object.send(att).try(:[], "end")}

          .cell.small-6.medium-4.large-3
            = f.input :specific_approval_condition
          - [:probabilities].each do |att|
            .cell.small-6.medium-4.large-3
              %label= t(".#{att}")
              = f.simple_fields_for att do |ff|
                .grid-x.grid-margin-x
                  .cell.small-6
                    = ff.input :begin, placeholder: "min", label: false, input_html: {value:  f.object.send(att).try(:[], "begin")}
                  .cell.small-6
                    = ff.input :end, placeholder: "max", label: false, input_html: {value:  f.object.send(att).try(:[], "end")}
          .cell.small-6.medium-4.large-3
            = f.input :institution_type_id, collection: dashboard.institution_types
          .cell.small-6.medium-4.large-3
            = f.input :repayment_type_id, collection: dashboard.repayment_types

= javascript_pack_tag 'filter_loans_dashboard'